body {
	font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
	color: #3E3E3E;
	background: #FFFFFF;
	font-size: 12px;
}

p {
	padding: 5px;
}

a {
	color: #3687AF;
}

h2 {
	border-bottom:2px solid #015287;
	color: #D15600;
	padding-top: 10px;
    margin-top: 0;
}


