.inputgroup {
	padding-bottom: 4px;
	float: left;
	width: 30%;
}

.inputgroup:nth-child(3n+4) {
  content:"";
  display: table;
  clear:both;
}

.inputgroup label {
	font-weight: bold;
}

.buttons {
  content:"";
  display: table;
  clear:both;
	
}

.fields {
  content:"";
  display: table;
	clear:both;
}

.field {
	clear: both;
}